/* HEADER */
body {
    height: 100vh;
    width: 100%;
    background: #080808;
    background-size: cover;
    position: absolute;
}

nav {
    background: #1B1B1B;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-family: "Comfortaa";
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 1px;
    color: #EC1839;
    font-size: 25px;
  }


.logo a::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #EC1839;
    border-left: 5px solid #EC1839;
    top: 46px;
    left: 20px;
  }
  
.logo a::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid #EC1839;
    border-right: 5px solid #EC1839;
    top: 8px;
    left: 170px;
  }

.logo a span {
    font-family: "Clicker Script", cursive;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 1;
    color: #EC1839;
    font-size: 50px;
  }


.nav-links {
    flex: 1;
    margin-left: 18%;
    
}

.nav-links ul li {
    margin: 28px 40px ;
    display: inline-block;
    position: relative;
}

.nav-links ul li a{
    color: #D9D9D9;
    font-family: IBM Plex Mono;
    letter-spacing: .2em;
    text-decoration: none;
    font-size: 14px;
}

.know-btn {
    border-radius: 50px;
    text-decoration: none;
    font-family: IBM Plex Mono;
    letter-spacing: .2em;
    color: #D9D9D9;
    border: 1px solid #fff;
    padding: 12px 24px;
    position: relative;
    background: transparent;
    cursor: pointer;
}

.know-btn:hover {
    border: 1px solid #876563;
    background: #CE2A44;
    transition: 1s;

}
